In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nanortalik,GL,2021-10-20 23:17:39,60.1432,-45.2371,36.95,69,1,2.64
1,1,Busselton,AU,2021-10-20 23:22:05,-33.6500,115.3333,56.08,73,98,14.56
2,2,Atuona,PF,2021-10-20 23:22:06,-9.8000,-139.0333,76.84,82,14,16.31
3,3,Takoradi,GH,2021-10-20 23:22:06,4.8845,-1.7554,77.63,88,73,8.68
4,4,Hilo,US,2021-10-20 23:20:58,19.7297,-155.0900,80.33,66,40,11.50

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-10-20 23:22:06,-9.8000,-139.0333,76.84,82,14,16.31
3,3,Takoradi,GH,2021-10-20 23:22:06,4.8845,-1.7554,77.63,88,73,8.68
4,4,Hilo,US,2021-10-20 23:20:58,19.7297,-155.0900,80.33,66,40,11.50
5,5,Butaritari,KI,2021-10-20 23:22:07,3.0707,172.7902,81.32,75,26,10.07
6,6,Panlaitan,PH,2021-10-20 23:22:07,12.1191,119.8486,82.33,75,39,1.72
7,7,Georgetown,MY,2021-10-20 23:22:08,5.4112,100.3354,76.95,95,40,4.61
10,10,Basay,PH,2021-10-20 23:22:09,9.4087,122.6400,80.31,81,100,4.41
13,13,Tumarbong,PH,2021-10-20 23:22:10,10.3766,119.4579,78.42,83,95,3.20
18,18,Avarua,CK,2021-10-20 23:20:22,-21.2078,-159.7750,77.05,65,75,10.36
22,22,Fare,PF,2021-10-20 23:22:13,-16.7000,-151.0167,78.71,80,7,8.30

In [11]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     76.84  -9.8000 -139.0333
3     Takoradi      GH     77.63   4.8845   -1.7554
4         Hilo      US     80.33  19.7297 -155.0900
5   Butaritari      KI     81.32   3.0707  172.7902
6    Panlaitan      PH     82.33  12.1191  119.8486
7   Georgetown      MY     76.95   5.4112  100.3354
10       Basay      PH     80.31   9.4087  122.6400
13   Tumarbong      PH     78.42  10.3766  119.4579
18      Avarua      CK     77.05 -21.2078 -159.7750
22        Fare      PF     78.71 -16.7000 -151.0167

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,76.84,-9.8000,-139.0333,Villa Enata
3,Takoradi,GH,77.63,4.8845,-1.7554,Raybow International Hotel
4,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Butaritari,KI,81.32,3.0707,172.7902,Isles Sunset Lodge
6,Panlaitan,PH,82.33,12.1191,119.8486,Panlaitan Cetro Beach
7,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
10,Basay,PH,80.31,9.4087,122.6400,Nikka's Place (Basay Transient Rooms)
13,Tumarbong,PH,78.42,10.3766,119.4579,
18,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
22,Fare,PF,78.71,-16.7000,-151.0167,Maitai Lapita Village Huahine

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))